<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fund My Project!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = { theme: { colors: { 'blue-dark': '#000814', 'blue':
      '#001D3D', 'yellow': '#F6AE2D', 'orange': '#F26419', 'cyan': '#55DDE0', },
      fontFamily: { sans: ['Poppins', 'sans-serif'], }, screens: { sm: '480px',
      md: '768px', lg: '976px', xl: '1440px', }, extend: {}, }, plugins: [], }

    </script>
  </head>
  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          <span role="img" aria-label="money">💸</span>
          <a href="/">Fund My Project!</a>
        </h1>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href="/profile">profile</a>
            |
            <button class="no-button" id="logout">logout</button>
          {{else}}
            <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main class="container container-fluid mt-5">
        {{{body}}}
        <!-- Render the sub layout -->

      </main>
    </div>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>