<body>
    <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <div class="px-4 py-6 sm:px-0">


            {{!-- container with cards --}}
            <div class="h-96 rounded-lg border-2 border-solid invisible flex flex-wrap place-items-center justify-center md:space-x-5 lg:visible lg:flex-nowrap lg:gap-6 lg:pr-5 xl:visible border-gray-200 bg-off-white">
              <h1>
              </h1>
              {{!-- Actual cards that store info --}}
              <div class="rounded shadow-xl  bg-gradient-to-t from-dark-background to-black text-xl font-bold visible w-64 h-48 p-4 my-4">
                <h1 class="text-center">Daily Tasks</h1>
                <hr>
                <br>
                <p class="text-center">0</p>
              </div>
              <div class="rounded shadow-xl  bg-gradient-to-t from-dark-background to-black text-xl font-bold visible w-64 h-48 p-4 my-4">
                <h1 class="text-center">Weekly Tasks</h1>
                <hr>
                <br>
                <p class="text-center">0</p>
              </div>
              <div class="rounded shadow-xl  bg-gradient-to-t from-dark-background to-black text-xl font-bold visible w-64 h-48 p-4 my-4">
                <h1 class="text-center">Ongoing</h1>
                <hr>
                <br>
                <p class="text-center">0</p>
              </div>
              <div class="rounded shadow-xl  bg-gradient-to-t from-dark-background to-black text-xl font-bold visible w-64 h-48 p-4 my-4">
                <h1 class="text-center">Urgent</h1>
                <hr>
                <br>
                <p class="text-center">0</p>
              </div>
            </div>
          </div>
          {{!-- /End replace --}}
        </div>
      </main>
</body>