<body>
      <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      {{!-- Replace with your content --}}
      <div class="px-4 py-6 sm:px-0">
        container with cards
        <div class="h-96 rounded-lg border-2 border-solid invisible flex flex-wrap place-items-center justify-center md:space-x-5 lg:visible lg:flex-nowrap lg:gap-4 lg:pr-5 border-gray-200 bg-off-white">
          <h1>
          </h1>
          {{!-- Actual cards that store info --}}
          <div class="rounded shadow-xl bg-gradient-to-t from-dark-background to-black visible text-xl font-bold my-4 w-64 h-48 p-4">
            <h1 class="text-center">Departments</h1>
            <hr>
            <br>
            <p class="text-center">0</p>
          </div>
          {{!-- Card for project status --}}
          <div class="rounded shadow-xl  bg-gradient-to-t from-dark-background to-black text-xl visible font-bold my-4 w-64 h-48 p-4" id="project">
            <p class="text-center"> Status</p>
            <hr>
            <br>
            <p class="text-center">0</p>
          </div>
          <div class="rounded shadow-xl  bg-gradient-to-t from-dark-background to-black text-xl visible font-bold my-4 w-64 h-48 p-4">
            <p class="text-center">Scheduled Off</p>
            <hr>
            <br>
            <p class="text-center">No Status</p>
          </div>
          <div class="rounded shadow-xl  bg-gradient-to-t from-dark-background to-black text-xl visible font-bold my-4 w-64 h-48 p-4">
            <p class="text-center">Upcoming Deadlines</p>
            <hr>
          </div>
        </div>
      </div>
      {{!-- /End replace --}}
    </div>
  </main>
  <script src="/js/team.js"></script>
</body>